@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Extrabold'), local('Proxima-Nova-Extrabold'),
      url('fonts/ProximaNova-Extrabld.woff2') format('woff2'),
      url('fonts/ProximaNova-Extrabld.woff') format('woff'),
      url('fonts/ProximaNova-Extrabld.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Regular'), local('Proxima-Nova-Regular'),
      url('fonts/ProximaNova-Regular.woff2') format('woff2'),
      url('fonts/ProximaNova-Regular.woff') format('woff'),
      url('fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar {
  width: 8px;              
}
body::-webkit-scrollbar-track {
  background: rgba(49,49,49,0.2);        
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(5,5,5,0.4);    
  border-radius: 20px;       
}
